.env
__pycache__
./models/__pycache__
./tests/__pycache__
package-lock.json
cert.pem
install-key.pem
install.pem
key.pem
./frontend/budgetai/dist
./frontend/budgetai/build
./frontend/budgetai/node_modules